<div class="tabs-content" id="our-story">
    <div class="">
        <div class="primeros wrapper">
            <div class=""><img src="assets/img/1-cristhofer.jpeg" alt="" class='img-redonda' />
                <p class="nombre">CRISTHOFER RODRIGUEZ</p>
                <p class="rol">SCRUM MASTER</p>
                <h4 class="desc">Supervisar y resolver impedimentos del equipo</h4>
            </div>
            <div class=""><img src="assets/img/3-douglas.jpeg" alt="" class='img-redonda' />
                <p class="nombre">DOUGLAS SAMAYOA</p>
                <p class="rol">DESIGNER & QA ANALYST</p>
                <h4 class="desc">Experiencia e interfaz del usuario</h4>
                <h4 class="desc">Crear y ejecutar casos de prueba</h4>
            </div>
        </div>
        <div class="segundos wrapper">
            <div class=""><img src="assets/img/2-kevin.jpeg" alt="" class='img-redonda' /> <br>
                <p class="nombre">KEVIN ITZEP</p>
                <p class="rol">DISEÑADOR & DESARROLLADOR</p>
                <h4 class="desc">Programar funcionalidades del proyecto</h4>
            </div>

            <div class=""><img src="assets/img/4-giancarlo.jpeg" alt="" class='img-redonda' />
                <p class="nombre">GIANCARLO RIVERA</p>
                <p class="rol">PRODUCT OWNER</p>
                <h4 class="desc">Definicion y presentacion de la vision del producto</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="wrapper">


                    <section id="first-tab-group" class="tabgroup">
                        <div id="tab1">
                            <img src="img/1st-tab.jpg" alt="">
                            <p> <img src="assets/img/logo.png" alt=""> <br>Somos una empresa con un compromiso genuino de convertirse en aliado estratégico para nuestro cliente, proveyendo servicios, equipos, productos y suministros con el fin de obtener
                                la mayor satisfacción, incluyendo en ello la mejor tecnología y precios verdaderamente accesibles.</p>
                        </div>

                        <div id="tab2">

                            <img src="img/2nd-tab.jpg" alt="">
                            <p>Contamos con años de experiencia en aplicaciones, seguridad IT.</p>
                        </div>
                        <div id="tab3">
                            <img src="img/3rd-tab.jpg" alt="">
                            <p>Cada cliente, proveedor o colaborador, se convierte en aliado… Creemos en que el trabajo colaborativo es la clave de un éxito sostenible.</p>
                        </div>
                        <div id="tab4">
                            <img src="img/4th-tab.jpg" alt="">
                            <p>Hemos adaptado nuestra experiencia de software y procedimientos a nuevas tecnologías. Web, Escritorio y Móviles.</p>
                        </div>
                    </section>

                </div>
            </div>
        </div>
    </div>
</div>
