/*

Vanilla Template

https://templatemo.com/tm-526-vanilla

*/

p {
    font-size: 15px;
    line-height: 25px;
}

section {
    padding: 25px 0 35px;
    background: #fff;
}

body {
    position: relative;
    /* we need this for the scrollspy */
    font-size: 14px;
}

a {
    color: #3CC;
}

a:hover {
    color: #FF0;
}


/*----------
NAV
----------*/

.fixed-side-navbar {
    position: fixed;
    top: 50%;
    right: 0;
    z-index: 99999;
    margin-top: -100px;
    text-align: right;
    padding: 30px 0;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.fixed-side-navbar:hover {
    background: transparent;
}

.fixed-side-navbar:hover .nav>li>a>span {
    color: rgba(0, 0, 0, 0.5);
    display: block;
    background-color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    padding: 2px 12px;
    border-radius: 15px;
}

.fixed-side-navbar .nav>li a.active {
    background-color: transparent;
    color: black;
}

.fixed-side-navbar .nav>li a.active:after {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}

.fixed-side-navbar .nav>li a.active:before {
    content: '';
    position: absolute;
    top: 50%;
    right: 17px;
    margin-top: -8px;
    width: 16px;
    height: 16px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 10px;
}

.nav>li {
    position: relative;
    display: block;
}

.fixed-side-navbar .nav>li a {
    color: #fff;
    min-height: 32px;
    background: transparent;
    padding: 5px 45px 5px 25px;
    border-right: none;
}

.fixed-side-navbar .nav>li a span {
    display: none;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.fixed-side-navbar .nav>li a:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 20px;
    margin-top: -5px;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: rgba(250, 250, 250, 0.75);
    -webkit-transition: all .3s;
    transition: all .3s;
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
}

.fixed-side-navbar .nav>li a:hover {
    background-color: transparent;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-color: black;
    boder-right: 0;
}

.fixed-side-navbar .nav>li a:hover>span {
    color: black;
    display: block;
}

.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}

.primary-button a {
    display: inline-block;
    background-color: #ff7d27;
    padding: 15px 24px;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 11px;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 0.5px;
}

.parallax-content {
    width: 100%;
    min-height: 100vh;
    background-size: cover;
}

.baner-content {
    padding-top: 30vh;
    text-align: center;
    background-image: url(../../../assets/img/1st-section.jpg);
}

.baner-content h1 {
    margin-top: 0px;
    font-size: 128px;
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 0px;
}

.baner-content em {
    color: #ff7d27;
    font-weight: 600;
    font-style: normal;
}

.baner-content span {
    display: inline-block;
    margin-top: -20px;
    font-weight: 300;
    font-size: 48px;
    color: #fff;
}

.baner-content .primary-button {
    margin-top: 15px;
}

.service-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15vh;
    background-image: url(../../../assets/img/2nd-section.jpg);
    background-attachment: fixed;
    min-height: 100vh;
    background-size: cover;
    background-position: center center;
}

.service-content .left-text h4 {
    font-size: 24px;
    font-weight: 500;
    color: #fff;
}

h4,
.h4 {
    font-size: 18px;
}

.service-content .left-text .line-dec {
    width: 45px;
    height: 3px;
    background-color: #ff7d27;
    margin: 20px 0px 20px 0px;
}

.service-content .left-text p {
    color: #fff;
}

.service-content .left-text ul {
    padding: 0;
    margin-top: 30px;
    list-style: none;
}

.service-content .left-text ul li {
    margin: 15px 0px;
    font-weight: 600;
    color: #fff;
}

.service-content .left-text .primary-button {
    margin: 30px 0px;
}

.service-content .service-item {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 25px 30px;
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
}

.service-content .service-item .line-dec {
    width: 45px;
    height: 3px;
    background-color: #ff7d27;
    margin: 20px auto 15px auto;
}

.projects-content {
    padding-top: 20vh;
    background-image: url(../../../assets/img/3rd-section.jpg);
}

.projects-content .item img {
    width: 100%;
}

.projects-content .item {
    margin: 15px;
}

.projects-content .item .text-content {
    background-color: #fff;
    text-align: center;
    padding: 20px;
}

.projects-content .item .text-content h4 {
    margin-top: 0px;
    font-size: 19px;
    font-weight: 600;
}

.projects-content .item .text-content span {
    font-style: normal;
    font-size: 17px;
    font-weight: 700;
    color: #ff7d27;
}

.owl-pagination {
    margin-top: 40px;
    opacity: 1;
    display: inline-block;
}

.owl-page span {
    display: block;
    width: 14px;
    height: 14px;
    margin: 0px 5px;
    filter: alpha(opacity=50);
    opacity: 0.5;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #fff;
}

.tabs-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8vh;
    background-image: url(../../../assets/img/4th-section.jpg);
    background-attachment: fixed;
    min-height: 100vh;
    background-size: cover;
    background-position: center center;
}

section {
    background-color: transparent;
    padding-bottom: 15px;
}

.wrapper {
    text-align: center;
}

.tabs {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.tabs li {
    display: inline-block;
    text-align: center;
    margin: 10px;
}

.tabs a {
    display: block;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    padding: 10px 15px;
    border: 4px solid #fff;
}

.tabs a:hover {
    color: #ff7d27;
}

.tabs .active {
    border: 4px solid #ff7d27;
}

.tabgroup div {}

.tabgroup p {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 25px;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.contact-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 16vh;
    background-image: url(../../../assets/img/5th-section.jpg);
}

.contact-form {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 30px 25px;
    margin-bottom: 30px;
}

#contact input {
    border-radius: 3px;
    padding-left: 15px;
    font-size: 13px;
    color: #232323;
    background-color: rgba(250, 250, 250, 1);
    outline: none;
    border: none;
    box-shadow: none;
    line-height: 50px;
    height: 50px;
    width: 100%;
    margin-bottom: 30px;
}

#contact textarea {
    border-radius: 3px;
    padding-left: 15px;
    padding-top: 10px;
    font-size: 13px;
    color: #232323;
    background-color: rgba(250, 250, 250, 1);
    outline: none;
    border: none;
    box-shadow: none;
    height: 165px;
    max-height: 220px;
    width: 100%;
    margin-bottom: 25px;
}

#contact button {
    display: inline-block;
    background-color: #ff7d27;
    padding: 15px 24px;
    width: 100%;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 11px;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 0.5px;
}

.map {
    margin-bottom: 30px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 30px 20px;
}

footer {
    text-align: center;
    background-color: #282b2f;
    padding: 70px 0px;
}

footer .primary-button {
    margin-bottom: 30px;
}

footer ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

footer ul li {
    display: inline-block;
    margin: 0px 4px;
}

footer ul li a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    display: inline-block;
    background-color: #ff7d27;
    color: #282b2f;
    border-radius: 50%;
    text-decoration: none;
    transition: all 0.5s;
    font-size: 17px;
}

footer ul li a:hover {
    color: #282b2f;
    background-color: #ff8e43;
}

footer p {
    font-size: 12px;
    color: #fff;
    margin-top: 15px;
    color: #fff;
    letter-spacing: 0.5px;
    margin-bottom: 0px;
}

footer em {
    color: #ff8e43;
    font-weight: 600;
    font-style: normal;
}

@media (max-width: 767px) {
    .baner-content {
        padding-top: 30vh;
    }
    .baner-content h1 {
        font-size: 64px;
    }
    .baner-content em {}
    .baner-content span {
        font-size: 24px;
    }
    .baner-content .primary-button {
        margin-top: 15px;
    }
    .service-content {
        padding-top: 5vh;
        text-align: center;
    }
    .service-content .left-text .line-dec {
        width: 45px;
        height: 3px;
        background-color: #ff7d27;
        margin: 20px auto 20px auto;
    }
    .service-content .left-text ul {
        text-align: left;
    }
    .service-content .service-item {
        background-color: rgba(0, 0, 0, 0.5);
        padding: 25px 30px;
        text-align: center;
        color: #fff;
        margin-bottom: 30px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}


/* LIGHT BOX */

body:after {
    content: url(../../../assets/img/close.png) url(../../../assets/img/loading.gif) url(../../../assets/img/prev.png) url(../../../assets/img/next.png);
    display: none;
}

body.lb-disable-scrolling {
    overflow: hidden;
}

.lightboxOverlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99999;
    background-color: black;
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: 0.8;
    display: none;
}

.lightbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100000;
    text-align: center;
    line-height: 0;
    font-weight: normal;
}

.lightbox .lb-image {
    display: block;
    height: auto;
    max-width: inherit;
    max-height: none;
    border-radius: 3px;
    /* Image border */
    border: 4px solid white;
}

.lightbox a img {
    border: none;
}

.lb-outerContainer {
    position: relative;
    *zoom: 1;
    width: 250px;
    height: 250px;
    margin: 0 auto;
    border-radius: 4px;
    /* Background color behind image.
This is visible during transitions. */
    background-color: white;
}

.lb-outerContainer:after {
    content: "";
    display: table;
    clear: both;
}

.lb-loader {
    position: absolute;
    top: 43%;
    left: 0;
    height: 25%;
    width: 100%;
    text-align: center;
    line-height: 0;
}

.lb-cancel {
    display: block;
    width: 32px;
    height: 32px;
    margin: 0 auto;
    background: url(../../../assets/img/loading.gif) no-repeat;
}

.lb-nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
}

.lb-container>.nav {
    left: 0;
}

.lb-nav a {
    outline: none;
}

.lb-prev,
.lb-next {
    height: 100%;
    cursor: pointer;
    display: block;
}

.lb-nav a.lb-prev {
    width: 34%;
    left: 0;
    float: left;
    background: url(../../../assets/img/prev.png) left 48% no-repeat;
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transition: opacity 0.6s;
    -moz-transition: opacity 0.6s;
    -o-transition: opacity 0.6s;
    transition: opacity 0.6s;
}

.lb-nav a.lb-prev:hover {
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}

.lb-nav a.lb-next {
    width: 64%;
    right: 0;
    float: right;
    background: url(../../../assets/img/next.png) right 48% no-repeat;
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transition: opacity 0.6s;
    -moz-transition: opacity 0.6s;
    -o-transition: opacity 0.6s;
    transition: opacity 0.6s;
}

.lb-nav a.lb-next:hover {
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}

.lb-dataContainer {
    margin: 0 auto;
    padding-top: 5px;
    *zoom: 1;
    width: 100%;
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.lb-dataContainer:after {
    content: "";
    display: table;
    clear: both;
}

.lb-data {
    padding: 0 4px;
    color: #ccc;
}

.lb-data .lb-details {
    width: 85%;
    float: left;
    text-align: left;
    line-height: 1.1em;
}

.lb-data .lb-caption {
    font-size: 13px;
    font-weight: bold;
    line-height: 1em;
}

.lb-data .lb-caption a {
    color: #4ae;
}

.lb-data .lb-number {
    display: block;
    clear: left;
    padding-bottom: 1em;
    font-size: 12px;
    color: #999999;
}

.lb-data .lb-close {
    display: block;
    float: right;
    width: 30px;
    height: 30px;
    background: url(../../../assets/img/close.png) top right no-repeat;
    text-align: right;
    outline: none;
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

.lb-data .lb-close:hover {
    cursor: pointer;
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}


/* --------------------------------

Primary style

-------------------------------- */

*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Open Sans", sans-serif;
    color: #2c343b;
    background-color: #f2f2f2;
}

a {
    color: #d44457;
    text-decoration: none;
}

img {
    max-width: 100%;
}


/* --------------------------------

Main Components

-------------------------------- */

.cd-header {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #21272c;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media only screen and (min-width: 768px) {
    .cd-header {
        height: 70px;
        background-color: transparent;
    }
}

#cd-logo {
    float: left;
    margin: 13px 0 0 5%;
}

#cd-logo img {
    display: block;
}

@media only screen and (min-width: 768px) {
    #cd-logo {
        margin: 23px 0 0 5%;
    }
}

.cd-primary-nav {
    /* mobile first - navigation hidden by default, triggered by tap/click on navigation icon */
    float: right;
    margin-right: 5%;
    width: 44px;
    height: 100%;
}

.cd-primary-nav ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
}

.cd-primary-nav ul.is-visible {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
    -ms-transform: translateY(50px);
    -o-transform: translateY(50px);
    transform: translateY(50px);
}

.cd-primary-nav a {
    display: block;
    height: 50px;
    line-height: 50px;
    padding-left: 5%;
    background: #21272c;
    border-top: 1px solid #333c44;
    color: #ffffff;
}

@media only screen and (min-width: 768px) {
    .cd-primary-nav {
        /* reset navigation values */
        width: auto;
        height: auto;
        background: none;
    }
    .cd-primary-nav ul {
        position: static;
        width: auto;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
        line-height: 70px;
    }
    .cd-primary-nav ul.is-visible {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
    .cd-primary-nav li {
        display: inline-block;
        margin-left: 1em;
    }
    .cd-primary-nav a {
        display: inline-block;
        height: auto;
        font-weight: 600;
        line-height: normal;
        background: transparent;
        padding: .6em 1em;
        border-top: none;
    }
}


/* --------------------------------

Slider

-------------------------------- */

.cd-hero {
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.cd-hero-slider {
    position: relative;
    height: 360px;
    overflow: hidden;
}

.cd-hero-slider li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
}

.cd-hero-slider li.selected {
    /* this is the visible slide */
    position: relative;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}

.cd-hero-slider li.move-left {
    /* slide hidden on the left */
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
}

.cd-hero-slider li.is-moving,
.cd-hero-slider li.selected {
    /* the is-moving class is assigned to the slide which is moving outside the viewport */
    -webkit-transition: -webkit-transform 0.5s;
    -moz-transition: -moz-transform 0.5s;
    transition: transform 0.5s;
}

@media only screen and (min-width: 768px) {
    .cd-hero-slider {
        height: 500px;
    }
}

@media only screen and (min-width: 1170px) {
    .cd-hero-slider {
        height: 680px;
    }
}


/* --------------------------------

Single slide style

-------------------------------- */

.cd-hero-slider li {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.cd-hero-slider li:first-of-type {
    background-image: url(/assets/img/slide_01.jpg);
}

.cd-hero-slider li:nth-of-type(2) {
    background-image: url(/assets/img/slide_02.jpg);
}

.cd-hero-slider li:nth-of-type(3) {
    background-image: url(/assets/img/slide_03.jpg);
}

.cd-hero-slider .cd-full-width,
.cd-hero-slider .cd-half-width {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    left: 0;
    top: 0;
    /* this padding is used to align the text */
    padding-top: 80px;
    text-align: center;
    /* Force Hardware Acceleration in WebKit */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}

.cd-hero-slider .cd-img-container {
    /* hide image on mobile device */
    display: none;
}

.cd-hero-slider .cd-img-container img {
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.cd-hero-slider .cd-bg-video-wrapper {
    /* hide video on mobile device */
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.cd-hero-slider .cd-bg-video-wrapper video {
    /* you won't see this element in the html, but it will be injected using js */
    display: block;
    min-height: 100%;
    min-width: 100%;
    max-width: none;
    height: auto;
    width: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.cd-hero-slider h2,
.cd-hero-slider p {
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    line-height: 1.2;
    margin: 0 auto 14px;
    color: #ffffff;
    width: 90%;
    max-width: 400px;
}

.cd-hero-slider h2 {
    font-size: 2.4rem;
}

.cd-hero-slider p {
    font-size: 1.4rem;
    line-height: 1.4;
}

.cd-hero-slider .cd-btn {
    display: inline-block;
    padding: 1.2em 1.4em;
    margin-top: .8em;
    background-color: rgba(212, 68, 87, 0.9);
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: 1px;
    color: #ffffff;
    text-transform: uppercase;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    transition: background-color 0.2s;
}

.cd-hero-slider .cd-btn.secondary {
    background-color: rgba(22, 26, 30, 0.8);
}

.cd-hero-slider .cd-btn:nth-of-type(2) {
    margin-left: 1em;
}

.no-touch .cd-hero-slider .cd-btn:hover {
    background-color: #d44457;
}

.no-touch .cd-hero-slider .cd-btn.secondary:hover {
    background-color: #161a1e;
}

@media only screen and (min-width: 768px) {
    .cd-hero-slider .cd-full-width,
    .cd-hero-slider .cd-half-width {
        padding-top: 150px;
    }
    .cd-hero-slider .cd-bg-video-wrapper {
        display: block;
    }
    .cd-hero-slider .cd-half-width {
        width: 45%;
    }
    .cd-hero-slider .cd-half-width:first-of-type {
        left: 5%;
    }
    .cd-hero-slider .cd-half-width:nth-of-type(2) {
        right: 5%;
        left: auto;
    }
    .cd-hero-slider .cd-img-container {
        display: block;
    }
    .cd-hero-slider h2,
    .cd-hero-slider p {
        max-width: 520px;
    }
    .cd-hero-slider h2 {
        font-size: 2.4em;
        font-weight: 300;
    }
    .cd-hero-slider .cd-btn {
        font-size: 1.4rem;
    }
}

@media only screen and (min-width: 1170px) {
    .cd-hero-slider .cd-full-width,
    .cd-hero-slider .cd-half-width {
        padding-top: 250px;
    }
    .cd-hero-slider h2,
    .cd-hero-slider p {
        margin-bottom: 20px;
    }
    .cd-hero-slider h2 {
        font-size: 3.2em;
    }
    .cd-hero-slider p {
        font-size: 1.6rem;
    }
}


/* --------------------------------

Single slide animation

-------------------------------- */

@media only screen and (min-width: 768px) {
    .cd-hero-slider .cd-half-width {
        opacity: 0;
        -webkit-transform: translateX(40px);
        -moz-transform: translateX(40px);
        -ms-transform: translateX(40px);
        -o-transform: translateX(40px);
        transform: translateX(40px);
    }
    .cd-hero-slider .move-left .cd-half-width {
        -webkit-transform: translateX(-40px);
        -moz-transform: translateX(-40px);
        -ms-transform: translateX(-40px);
        -o-transform: translateX(-40px);
        transform: translateX(-40px);
    }
    .cd-hero-slider .selected .cd-half-width {
        /* this is the visible slide */
        opacity: 1;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
    .cd-hero-slider .is-moving .cd-half-width {
        /* this is the slide moving outside the viewport
wait for the end of the transition on the <li> parent before set opacity to 0 and translate to 40px/-40px */
        -webkit-transition: opacity 0s 0.5s, -webkit-transform 0s 0.5s;
        -moz-transition: opacity 0s 0.5s, -moz-transform 0s 0.5s;
        transition: opacity 0s 0.5s, transform 0s 0.5s;
    }
    .cd-hero-slider li.selected.from-left .cd-half-width:nth-of-type(2),
    .cd-hero-slider li.selected.from-right .cd-half-width:first-of-type {
        /* this is the selected slide - different animation if it's entering from left or right */
        -webkit-transition: opacity 0.4s 0.2s, -webkit-transform 0.5s 0.2s;
        -moz-transition: opacity 0.4s 0.2s, -moz-transform 0.5s 0.2s;
        transition: opacity 0.4s 0.2s, transform 0.5s 0.2s;
    }
    .cd-hero-slider li.selected.from-left .cd-half-width:first-of-type,
    .cd-hero-slider li.selected.from-right .cd-half-width:nth-of-type(2) {
        /* this is the selected slide - different animation if it's entering from left or right */
        -webkit-transition: opacity 0.4s 0.4s, -webkit-transform 0.5s 0.4s;
        -moz-transition: opacity 0.4s 0.4s, -moz-transform 0.5s 0.4s;
        transition: opacity 0.4s 0.4s, transform 0.5s 0.4s;
    }
    .cd-hero-slider .cd-full-width h2,
    .cd-hero-slider .cd-full-width p,
    .cd-hero-slider .cd-full-width .cd-btn {
        opacity: 0;
        -webkit-transform: translateX(100px);
        -moz-transform: translateX(100px);
        -ms-transform: translateX(100px);
        -o-transform: translateX(100px);
        transform: translateX(100px);
    }
    .cd-hero-slider .move-left .cd-full-width h2,
    .cd-hero-slider .move-left .cd-full-width p,
    .cd-hero-slider .move-left .cd-full-width .cd-btn {
        opacity: 0;
        -webkit-transform: translateX(-100px);
        -moz-transform: translateX(-100px);
        -ms-transform: translateX(-100px);
        -o-transform: translateX(-100px);
        transform: translateX(-100px);
    }
    .cd-hero-slider .selected .cd-full-width h2,
    .cd-hero-slider .selected .cd-full-width p,
    .cd-hero-slider .selected .cd-full-width .cd-btn {
        /* this is the visible slide */
        opacity: 1;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
    .cd-hero-slider li.is-moving .cd-full-width h2,
    .cd-hero-slider li.is-moving .cd-full-width p,
    .cd-hero-slider li.is-moving .cd-full-width .cd-btn {
        /* this is the slide moving outside the viewport
wait for the end of the transition on the li parent before set opacity to 0 and translate to 100px/-100px */
        -webkit-transition: opacity 0s 0.5s, -webkit-transform 0s 0.5s;
        -moz-transition: opacity 0s 0.5s, -moz-transform 0s 0.5s;
        transition: opacity 0s 0.5s, transform 0s 0.5s;
    }
    .cd-hero-slider li.selected h2 {
        -webkit-transition: opacity 0.4s 0.2s, -webkit-transform 0.5s 0.2s;
        -moz-transition: opacity 0.4s 0.2s, -moz-transform 0.5s 0.2s;
        transition: opacity 0.4s 0.2s, transform 0.5s 0.2s;
    }
    .cd-hero-slider li.selected p {
        -webkit-transition: opacity 0.4s 0.3s, -webkit-transform 0.5s 0.3s;
        -moz-transition: opacity 0.4s 0.3s, -moz-transform 0.5s 0.3s;
        transition: opacity 0.4s 0.3s, transform 0.5s 0.3s;
    }
    .cd-hero-slider li.selected .cd-btn {
        -webkit-transition: opacity 0.4s 0.4s, -webkit-transform 0.5s 0.4s, background-color 0.2s 0s;
        -moz-transition: opacity 0.4s 0.4s, -moz-transform 0.5s 0.4s, background-color 0.2s 0s;
        transition: opacity 0.4s 0.4s, transform 0.5s 0.4s, background-color 0.2s 0s;
    }
}


/* --------------------------------

Slider navigation

-------------------------------- */

.cd-slider-nav {
    display: none;
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 2;
    text-align: center;
    height: 55px;
    background-color: rgba(0, 1, 1, 0.5);
}

.cd-slider-nav nav,
.cd-slider-nav ul,
.cd-slider-nav li,
.cd-slider-nav a {
    height: 100%;
}

.cd-slider-nav nav {
    display: inline-block;
    position: relative;
}

.cd-slider-nav .cd-marker {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 60px;
    height: 100%;
    color: #d44457;
    background-color: #ffffff;
    box-shadow: inset 0 2px 0 currentColor;
    -webkit-transition: -webkit-transform 0.2s, box-shadow 0.2s;
    -moz-transition: -moz-transform 0.2s, box-shadow 0.2s;
    transition: transform 0.2s, box-shadow 0.2s;
}

.cd-slider-nav .cd-marker.item-2 {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
}

.cd-slider-nav .cd-marker.item-3 {
    -webkit-transform: translateX(200%);
    -moz-transform: translateX(200%);
    -ms-transform: translateX(200%);
    -o-transform: translateX(200%);
    transform: translateX(200%);
}

.cd-slider-nav .cd-marker.item-4 {
    -webkit-transform: translateX(300%);
    -moz-transform: translateX(300%);
    -ms-transform: translateX(300%);
    -o-transform: translateX(300%);
    transform: translateX(300%);
}

.cd-slider-nav .cd-marker.item-5 {
    -webkit-transform: translateX(400%);
    -moz-transform: translateX(400%);
    -ms-transform: translateX(400%);
    -o-transform: translateX(400%);
    transform: translateX(400%);
}

.cd-slider-nav ul::after {
    clear: both;
    content: "";
    display: table;
}

.cd-slider-nav li {
    display: inline-block;
    width: 60px;
    float: left;
}

.cd-slider-nav li.selected a {
    color: #2c343b;
}

.no-touch .cd-slider-nav li.selected a:hover {
    background-color: transparent;
}

.cd-slider-nav a {
    display: block;
    position: relative;
    padding-top: 35px;
    font-size: 1rem;
    font-weight: 700;
    color: #a8b4be;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    transition: background-color 0.2s;
}

.cd-slider-nav a::before {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    top: 8px;
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.no-touch .cd-slider-nav a:hover {
    background-color: rgba(0, 1, 1, 0.5);
}

.cd-slider-nav li:first-of-type a::before {
    background-position: 0 0;
}

.cd-slider-nav li.selected:first-of-type a::before {
    background-position: 0 -24px;
}

.cd-slider-nav li:nth-of-type(2) a::before {
    background-position: -24px 0;
}

.cd-slider-nav li.selected:nth-of-type(2) a::before {
    background-position: -24px -24px;
}

.cd-slider-nav li:nth-of-type(3) a::before {
    background-position: -48px 0;
}

.cd-slider-nav li.selected:nth-of-type(3) a::before {
    background-position: -48px -24px;
}

.cd-slider-nav li:nth-of-type(4) a::before {
    background-position: -72px 0;
}

.cd-slider-nav li.selected:nth-of-type(4) a::before {
    background-position: -72px -24px;
}

.cd-slider-nav li:nth-of-type(5) a::before {
    background-position: -96px 0;
}

.cd-slider-nav li.selected:nth-of-type(5) a::before {
    background-position: -96px -24px;
}

@media only screen and (min-width: 768px) {
    .cd-slider-nav {
        height: 80px;
    }
    .cd-slider-nav .cd-marker,
    .cd-slider-nav li {
        width: 95px;
    }
    .cd-slider-nav a {
        padding-top: 48px;
        font-size: 1.1rem;
        text-transform: uppercase;
    }
    .cd-slider-nav a::before {
        top: 18px;
    }
}


/* --------------------------------

Main content

-------------------------------- */

.cd-main-content {
    width: 90%;
    max-width: 768px;
    margin: 0 auto;
    padding: 2em 0;
}

.cd-main-content p {
    font-size: 1.4rem;
    line-height: 1.8;
    color: #999999;
    margin: 2em 0;
}

@media only screen and (min-width: 1170px) {
    .cd-main-content {
        padding: 3em 0;
    }
    .cd-main-content p {
        font-size: 1.6rem;
    }
}


/* --------------------------------

Javascript disabled

-------------------------------- */

.no-js .cd-hero-slider li {
    display: none;
}

.no-js .cd-hero-slider li.selected {
    display: block;
}

.no-js .cd-slider-nav {
    display: none;
}