<div class="header">
    <ul class="menu">
        <li>
            <a routerLinkActive='active' [routerLink]="['/home']">Home</a>
        </li>
        <li>
            <a routerLinkActive='active' [routerLink]="['/service']">Servicios</a>
        </li>

        <li>
            <a routerLinkActive='active' [routerLink]="['/portafolio']">Portafolio</a>
        </li>

        <li>
            <a routerLinkActive='active' [routerLink]="['/nosotros']">Nosotros</a>
        </li>
        <li>
            <a routerLinkActive='active' [routerLink]="['/contactanos']">Contactanos</a>
        </li>
        <img [routerLink]="['/home']" src="assets/img/logo.png" alt="">
    </ul>





</div>