<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <ul>
                    <li><a [routerLink]="['/header']">Inicio</a></li>
                    <li><a [routerLink]="['/service']">Servicios</a></li>
                    <li><a [routerLink]="['/portafolio']">Portafolio</a></li>
                    <li><a [routerLink]="['/nosotros']">Nosotros</a></li>
                    <li><a [routerLink]="['/contactanos']">Contactanos</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
